#cal-body {
  width: 400px;
  border-radius: 20px;
  background: #dde1e7;
  box-shadow: -5px -5px 9px rgba(255,255,255,0.45), 5px 5px 9px rgba(94,104,121,0.3);
  padding: 45px;
  scale: 0.6;

 }

.input {
  display: flex; /* Changed display to flex for horizontal layout */
  margin: none;
  height: 150px;
  border-radius: 15px;
  background-color: rgb(156, 156, 174);
}



.buttons button {
  cursor: pointer;
  height: 70px;
  width: 70px;
  border: 0;
  font-size: 2rem;
  border-radius: 50px;
  background: #dde1e7;
  box-shadow: -5px -5px 9px rgba(255,255,255,0.45), 5px 5px 9px rgba(94,104,121,0.3);
  color: rgb(137, 137, 137);
}

.buttons button:focus {
  background: #dde1e7;
  box-shadow: inset -5px -5px 9px rgba(255,255,255,0.45), inset 5px 5px 9px rgba(94,104,121,0.3);
}

.buttons {
  padding-top: 30px;
  display: flex;
  justify-content: space-between;
}